body {
    font-size: 16px;
    font-family: Verdana sans-serif;
    color: #333;
}

#section-1 {
    background-color: rgba(168, 197, 36, 0.6);
    padding: 10px;
    margin: 20px 0px;
}

#section-2 {
    background-color: rgba(36, 168, 197, 0.6);
    padding: 10px;
    margin: 20px 0px;
}

#section-1:hover, #section-2:hover {
    box-shadow: 0px 0px 5px #444;
}

legend {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #444;
}

#section-1 input {
    width: 300px;
    height: 20px;
}

#section-2 input {
    width: 10px;
    height: 20px;
}

#section-1 label {
    display: inline-block;
    width: 200px;
    padding: 10px 0px 15px 40px;
}

#section-2 label {
    display: inline-block;
    width: 100px;
    padding: 5px 0px 15px 10px;
}

input[type="submit"] {
    float: right;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fe6921;
    border-radius: 5px;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 3px #555;
    background-color: #e8ab2e;
}